.tx-bg-primary{
    background-color: #AB0B4B;
}

.tx-text-primary{
    color: #AB0B4B;
}

.tx-bg-secondary{
    background-color: #457EAC;
}

.tx-text-secondary{
    color: #457EAC;
}


.tx-border-primary{
    border-color: #AB0B4B;
}
